
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body, html {
    font-family: "Syne";
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #0B0B0E;
    box-sizing: border-box;
    background-color: #ffffff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231649ff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
}

::-webkit-scrollbar {
    width: 0px;  /* Remove vertical scrollbar */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #ffffff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231649ff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
}

.logo {
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
}

.logo span {
    color: #1649FF; /* Color for 'o' and 'm' inside logo*/
}

.hero {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align at the bottom */
    height: 125vh;
    position: relative; /* Add position relative */
}

.letter {
    font-size: 32em;
    font-weight: bold;
    color: #0B0B0E;
    transition: font-size 0.2s;
    position: absolute; /* Add position absolute */
}

#o {
    font-size: 32em;
    color: #16a34a;
}

#o-section {
    font-size: 45em;
    margin-top: -200px;
    color: #16a34a;
}

.o-section-letter {
    font-size: 45em;
    font-weight: bold;
    color: #0B0B0E;
    transition: font-size 0.2s;
    position: absolute; /* Add position absolute */
}

.sectionheading {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentheading {
    max-width: 900px;
    margin-bottom: 100px;
    text-align: center;
    z-index: 999;
    color: #0B0B0E;
    justify-content: center;
}

.right-aligned {
    text-align: right;
}
